* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #deeaf5;
  --bg1: #f2f2f2;
  --text: #615e5e;
  --font: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  --hover-color: #000000;
  --shadow: 0 0 10px 2px rgb(65, 65, 65);
}

.root {
  height: 100vh;
  width: 100%;
  background-color: var(--bg1);
  font-family: var(--font);
  display: grid;
}

a {
  text-decoration: none;
}
