* {
  padding: 0;
  margin: 0;
  background-color: rgb(165, 165, 165);
}

.formcontainer {
  border: black solid 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  height: auto;
  width: 100%;
  background-color: white;
}

.logform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  padding: 20px 0 40px 0;
}