.header {
  position: fixed;
  top: 0;
  z-index: 3;
  height: 60px;
  width: 100%;
  background-color: var(--header-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: black 1px solid;
}

.navbarUl .link,
.logo,
.poster {
  text-decoration: none;
  color: var(--text);
  transition: color 200ms ease;
}

.navbarUl .link {
  font-size: 1.2rem;
  padding-right: 10px;
}

.logo {
  padding-left: 20px;
  font-size: 2rem;
}

.logo:hover,
.navbarUl .link:hover,
.poster:hover {
  color: var(--hover-color);
}

.searchbar {
  width: 100%;
  height: 80px;
  /* padding: 0 20px; */
  position: fixed;
  top: 0;
  border-top: 1px solid rgb(214, 214, 214);
  display: flex;
  align-items: center;
  background-color: var(--header-bg);
  box-shadow: var(--shadow);
  transition: top 0.5s ease-in-out;
  overflow: hidden;
  gap: 10px;
}

.searchbar.expanded {
  top: 60px;
}

.arrow {
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  left: 98%;
  height: 20px;
  width: 20px;
  font-size: 2rem;
  display: inline-block;
  transform-origin: center;
  transition: transform 0.5s ease-in-out;
}

.rotated {
  transform: rotate(180deg);
}

.category-slider {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  width: 98%;
  max-width: 93%;
}

.categories {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
  white-space: nowrap;
  padding: 10px;
  width: 100%;
}

.categories::-webkit-scrollbar {
  display: none;
}

.category {
  background-color: #fff;
  color: #333;
  padding: 10px 16px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 20px;
  cursor: pointer;
  transition: all 300ms ease-out;
  white-space: nowrap;
}

.category:hover,
button.submitbtn:hover {
  background-color: var(--bg);
  color: black;
  box-shadow: var(--shadow)
}

img.addpost{
  cursor: pointer;
}

.arrows {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 8px;
  transition: 0.3s;
}

.arrows:hover,
.arrow:hover {
  color: #007bff;
}

.addPostContainer {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  width: 100%;
  max-width: 600px;
  background-color: var(--bg);
  z-index: 10;
  border-radius: 8px;
}

h1.addPostHead {
  text-align: center;
  font-size: 2em;
  margin-bottom: 10px;
  margin-top: 10px;
  position: relative;
}

h1 span.closepopup {
  position: absolute;
  right: 0;
  font-size: 0.8em;
  cursor: pointer;
}

.addPostContainer .divTitle,
.addPostContainer .divContent {
  width: 90%;
  margin: 0 auto;
}

.addPostContainer .divTitle {
  margin-bottom: 20px;
}

.addPostContainer .divTitle input.inpt,
.addPostContainer .divContent textarea.contentErea {
  padding: 5px;
  border-radius: 5px;
  border: 1px dashed;
  outline: 0;
  margin-left: 4px;
  margin-top: 7px;
  width: 100%;
  display: block;
}

.addPostContainer .divContent label.lbl {
  text-transform: capitalize;
}

.addPostContainer .divContent textarea.contentErea {
  height: 100px;
}

button.submitbtn {
  width: 200px;
  /* margin: auto; */
  padding: 5px 0;
  text-transform: capitalize;
  font-size: 18px;
  border: 1px solid #fff;
  outline: 0;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  position: relative;
  left: calc(50% - 100px);
  transition: all .5s;
}

/* button.submitbtn:hover {
  background-color: #000;
  color: #fff;
  border: 1px solid #fff;


} */

/* .category:hover {
  background-color: var(--bg);
  color: black;
  box-shadow: 0 0 5px 1px rgb(63, 63, 63);
} */

.show {
  display: block;
}

.chosen {
  background-color: #007bff;
  color: white;
}

.errorp {
  display: none;
  margin: 0 0 15px 10px;
  color: red;
  font-size: 1.25rem;
}